.SearchBar section {
  background-color: #ececec;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgb(0 0 0 / 10%);
}

h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
